div{
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
h2 {
    color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
}